<%- include('partials/head') %>
    <h1 class="text-5xl font-bold my-8 pt-10">Events</h1><br><br>
    <div class="flex w-full h-full">
        <div class="w-1/2 h-full flex items-center justify-center">
            <div class="flex flex-col items-center">
                <h2 class="font-bold py-5">Event Categories</h2>
                <button onclick="showAllEvents()" class="mb-4 w-48 px-6 py-3 text-gray-800 font-semibold rounded-lg shadow-md hover:bg-gray-100 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 transition duration-300 ease-in-out transform hover:scale-105">
                    All Events
                </button>
                <button onclick="showPastEvents()" class="mb-4 w-48 px-6 py-3 bg-white text-gray-800 font-semibold rounded-lg shadow-md hover:bg-gray-100 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 transition duration-300 ease-in-out transform hover:scale-105">
                    Past Events
                </button>
                <button onclick="showUpcomingEvents()" class="w-48 px-6 py-3 bg-white text-gray-800 font-semibold rounded-lg shadow-md hover:bg-gray-100 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 transition duration-300 ease-in-out transform hover:scale-105">
                    Upcoming Events
                </button>
            </div>
        </div>
        <div id="eventCardsContainer" class="w-1/2 h-full flex flex-col items-center justify-center hidden pr-20 card-container">
            <!-- Event Cards will be dynamically added here -->
        </div>
    </div>

    <script>
        function loadEventCards(url) {
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('eventCardsContainer').innerHTML = html;
                    document.getElementById('eventCardsContainer').classList.remove('hidden');
                })
                .catch(error => console.log(error));
        }
        function showAllEvents() {
            loadEventCards('/all-events');
        }
        function showPastEvents() {
            loadEventCards('/past-events');
        }
        function showUpcomingEvents() {
            loadEventCards('/upcoming-events');
        }
    </script>
</body>
</html>
